.display-container {
    display: grid;
    background-color: bisque;
    width: 100%;
    padding: 20px;
}
@media (min-width:400px) {
    .display-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:900px) {
    .display-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.display-list{
    display: flex;
    flex-direction: column;
   
}
.user-name {
    font-family: 'Roboto';
    font-size: 18px;
    text-align: center;
    color: brown;
}
.todo-list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.todo-list {
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 15px;
    color: maroon;
}